:root {
  --tailwind-zinc-200: #e4e4e7;
  --tailwind-zinc-800: #27272a;
  --tailwind-blue-500: #3b82f6;
  --tailwind-blue-700: #1d4ed8;
}

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
}
.light ::-webkit-scrollbar {
  background-color: var(--tailwind-zinc-200);
}
.dark ::-webkit-scrollbar {
  background-color: var(--tailwind-zinc-800);
}
::-webkit-scrollbar-thumb {
  background-color: var(--tailwind-blue-500);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--tailwind-blue-700);
}
